/* здесь используйте глобальные переменные */
$main-font: "Raleway", "Arial", sans-serif;
$second-font: "Comfortaa", "Comic Sans MS", cursive;
$aliceblue: #f1f6fc;
$lightaliceblue: #fbfcfe;
$deepsea: #0f805d;
$lawngreen: #7bdb0a;
$purple: #6a107a;
$darkorchid: #b22ec8;
$hotpurple: #580d65;
$black: #000000;
$white: #ffffff;
$edward: #8e9892;
$error: #ff8282;
$tablet-width: 768px;
$desktop-width: 1180px;
$mobile-width-only: 767px;
